
.text-centre{
 text-align: center; 
}
.bg-red{
  border-radius: 20px;
  
  
  background-color: rgb(11, 186, 255);
}
.mx-auto{
  margin: auto;
}
.flex{
  display: flex;

}
.flex-cool{
  
  flex-direction: column;
}
.item-centre{
  align-items: center;
}